@font-face {
    font-family: 'e-Ukraine';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('fonts/e-Ukraine-Light.woff2') format('woff2');
}
* {
    box-sizing: border-box;
}
@font-face {
    font-family: 'e-Ukraine Head';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('fonts/e-UkraineHead-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'e-Ukraine Head';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('  fonts/e-UkraineHead-Bold.woff2') format('woff2');
}
body, button, input, select, textarea {
    font-family: 'e-Ukraine', "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

}
body {

    background-color: #ffffff;
    display: flex;
    align-items: start;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#description {
    /*margin-top: 20px;*/
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    font-size: 16px;
    text-align: left;
    padding-left: 40px;
    padding-right:40px;
    white-space: pre-wrap;
}
.mobile {
    display: none;
}
#description.visible {
    opacity: 1 !important;
}
#article-container {
    text-align: center;
    width: 800px;
    padding-top: 20px;
    /*min-height: 100vh;*/
    padding-bottom: 100px;

}

#title {
    font-family: 'e-Ukraine Head', "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 3vh;
    font-weight: bold;
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
}

@keyframes cursorBlink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
#toast {
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    border: 4px solid #000000;
    padding: 10px;
    font-size: 20px;
    /*font-family: "Courier New", monospace;*/
    /*font-weight: bold;*/
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    width:300px;
    z-index: 100;
}
#toast.visible {
    opacity: 1 !important;
}
.typing-cursor::after {
    content: '|';
    animation: cursorBlink 0.7s infinite;
}
.buttons {
    position: fixed;
    bottom: 0px;
    left:0px;
    right:0px;
    padding-bottom: 40px;
    background: rgba(255,255,255,0.8);
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    text-align: center;
}
button, select {
    font-size:20px;
    /*font-family: 'e-Ukraine' !important;*/
    /*font-family: "Courier New", monospace;*/
    /*font-weight: bold;*/
    border: 4px solid #000000;
    background-color: #ffffff ;
    color: #000000;
    padding: 10px;
    margin-bottom: 10px;
    transition: opacity 0.5s ease-in-out;
    min-width: 48px;
    min-height: 60px;
    border-radius: 0 !important;

}
select {
    height: 60px !important;
}
button:active, button:active path {
    opacity: 0.8;
    background-color: black;
    color:white;
    fill:white;
}
#title.smaller {
    font-size: 20px;
}
#title.small {
    font-size: 15px;
}
img.ukraine {
    width: 80px;
}
@media all and (max-width: 767px)  {
    .mobile {
        display: inline;
    }
    .desktop {
        display: none !important;
    }
    #toast {
        /*width: 100%;*/
        left: 40px;
        right: 40px;
        transform: none;
    }
    #article-container {
        width: 100%;
    }
    #title {
        font-size: 3vh;
    }
    #title.small {
        font-size: 14px;
    }

    #description {
        font-size: 14px;
    }
    .buttons {
        /*width:100vh;*/
        left:10px;
        right:10px;
        /*transform:none;*/
        padding-bottom: 10px;
    }
    button {
        font-size: 16px;
        /*padding: 5px;*/
    }
}